@charset "UTF-8";
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

html,
body {
  overflow: hidden;
}

.logo__image {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.icon-btn {
  display: inline-block;
  font-size: 16px;
  color: white;
}

.icon-btn__title {
  font-size: 0;
}

.hashtag {
  color: #4263eb;
  font-size: 16px;
}

.hashtag-list {
  font-size: 0;
}

.hashtag-list__item {
  display: inline-block;
}

.hashtag-list__item:not(:last-child) {
  margin-right: 10px;
}

.container {
  overflow: auto;
  width: 100vw;
  max-height: 100vh;
}

.header {
  background-color: #252525;
}

.header__inner {
  height: 56px;
  padding: 0 16px;
}

.header__inner::after {
  content: '';
  display: block;
  clear: both;
}

.header__logo {
  float: left;
  width: 126px;
  height: 56px;
  padding: 12px 0;
}

.header__logo .logo {
  height: 100%;
}

.header__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  height: 100%;
}

.header__btn-container .icon-btn {
  font-size: 18px;
}

.header__btn-container .icon-btn:not(:first-child) {
  margin-left: 10px;
}

.main__video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-color: black;
}

.main__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin: auto;
}

.main__content::after {
  content: '';
  display: block;
  clear: both;
}

.main__info {
  border: 3px solid blue;
}

.main__info .hashtag-list {
  margin-bottom: 16px;
}

.main__info .info__title {
  position: relative;
  margin-bottom: 16px;
  padding-right: 20px;
}

.main__info .info__title .title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}

.main__info .info__title.closed .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.main__info .info__title.closed .info__open-btn {
  display: inline-block;
}

.main__info .info__title.closed .info__close-btn {
  display: none;
}

.main__info .info__open-btn, .main__info .info__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
}

.main__info .info__open-btn i, .main__info .info__close-btn i {
  font-size: 16px;
  color: darkgray;
}

.main__info .info__open-btn {
  display: none;
}

.main__info .info__detail {
  margin-bottom: 16px;
  font-size: 0;
  color: #343a40;
}

.main__info .info__views, .main__info .info__release-date {
  display: inline-block;
  font-size: 14px;
}

.main__info .info__views {
  margin-right: 8px;
}

.main__related-videos {
  border: 3px solid blue;
}

.main__info, .main__related-videos {
  float: left;
  width: 50%;
  padding: 16px;
}
/*# sourceMappingURL=styles.css.map */