.fb {
  // 레이아웃 컨테이너
  &__container {
    max-width: 1920px;
    margin: 0 auto;
    box-shadow: $main-box-shadow;
  }

  // 헤더
  &__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 10;
    background-color: transparent;
    transition: 0.3s;

    &.is-scroll {
      background-color: $white;
      box-shadow: $header-box-shadow;
    }

    .header {
      &__inner {
        display: flex;
        padding: 0 30px;
        height: 80px;
      }

      &__logo {
        margin-right: 45px;

        .logo {
          line-height: 80px;

          img {
            width: 171px;
            vertical-align: middle;
          }
        }
      }

      &__menu {
        .menu {
          display: flex;

          &__item {
            &:not(:last-child) {
              margin-right: 50px;
            }

            &.menu__item--store {
              .menu {
                &__link {
                  &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 23px;
                    height: 25px;
                    background: url('../images/gnb-store-cart.png') no-repeat
                      center/100%;
                    transform: translateY(-50%);
                  }

                  &::after {
                    opacity: 1;
                  }
                }

                &__image {
                  vertical-align: middle;
                }

                &__title {
                  font-size: 0;
                }
              }
            }
          }

          &__link {
            display: block;
            position: relative;
            line-height: 80px;

            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 4px;
              background-color: $main-color;
              border-radius: 2px;
              opacity: 0;
            }

            &:hover {
              .menu {
                &__title {
                  color: $main-color;
                }
              }
            }

            &.active {
              &::after {
                opacity: 1;
              }
            }
          }

          &__title {
            vertical-align: middle;
            font-size: 1rem;
            font-weight: 600;
            transition: color 0.2s;
            will-change: color;
          }
        }
      }

      &__quick-menu {
        margin-left: auto;
        // inline-block 중앙 정렬 ? padding ?
        line-height: 80px;
        font-size: 0;

        .quick-menu {
          &__icon {
            display: inline-block;
            width: 32px;
            height: 32px;
            background: no-repeat center/100%;
            vertical-align: middle;

            span {
              font-size: 0;
            }

            &:not(:first-child) {
              margin-left: 16px;
            }

            &.quick-menu__icon--search {
              background-image: url('../images/icon-srch.svg');
            }

            &.quick-menu__icon--cart {
              position: relative;
              background-image: url('../images/icon-cart.svg');
            }

            &.quick-menu__icon--mypage {
              background-image: url('../images/icon-user.svg');
            }
          }

          &__cart-count {
            position: absolute;
            top: -5px;
            right: -5px;
            min-width: 20px;
            height: 20px;
            padding: 0 5px;
            border-radius: 10px;
            background-color: $main-color;
            color: $white;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
          }
        }
      }
    }
  }

  // 메인 페이지
  &__main {
    // 섹션 공통 스타일
    &__section {
      padding: 100px 0;

      // 섹션 공통 타이틀 스타일
      .section {
        &__container {
          max-width: 1430px;
          margin: 0 auto;
        }

        &__title-wrap {
          margin-bottom: 60px;
          text-align: center;
        }

        &__title {
          line-height: 1.5;
          font-size: 54px;
          font-weight: 600;
        }

        &__sub-title {
          line-height: 1.5;
          margin-top: 27px;
        }

        &__header {
          display: flex;
          align-items: center;

          &__title-wrap {
            display: flex;
            align-items: center;
            line-height: 1.5;
          }

          &__title {
            text-transform: uppercase;
            font-size: 2.5rem;
            font-weight: 600;
          }

          &__sub-title {
            margin-left: 1rem;
            font-size: 0.9rem;
            opacity: 0.7;
          }
        }
      }
    }

    // VISUAL
    &__visual {
      padding: 0;

      .visual {
        &__slider {
          &__wrapper {
          }

          &__item {
            .banner {
              &__image {
                overflow: hidden;
                height: 100vh;
                min-height: 720px;

                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              &__info {
              }

              &__phrase {
              }

              &__title {
              }

              &__sub-title {
              }

              &__desc {
              }

              &__view-more {
              }
            }
          }

          &__pagination {
          }
        }
      }
    }

    // HISTORY
    &__history {
      .history {
        &__slider {
          &__wrapper {
            .swiper-slide-active {
              .history {
                &__slider {
                  &__event {
                    opacity: 1;
                  }
                }
              }
            }
          }

          &__event {
            position: relative;
            max-width: 1430px;
            margin: 0 auto;
            opacity: 0;
            transition: opacity 0.5s;
            will-change: opacity;

            .event {
              &__image {
                text-align: center;

                img {
                  display: inline-block;
                  max-width: 100%;
                  height: auto;
                }
              }

              &__info {
                position: absolute;
                top: 120px;
                right: 0;
                padding-right: 48px;
                text-align: right;
              }

              &__year {
                line-height: 1.5;
                color: #dad4c6;
                font-size: 98px;
                font-weight: 600;
              }

              &__detail {
                font-weight: 500;
                font-size: 19.8px;
              }
            }
          }
        }

        // NOTE ✨ 부모의 height가 0 이어도 자식을 부모 기준으로 position 할 수 있도록하는 트릭
        &__info-wrap {
          position: relative;
          max-width: 1430px;
          margin: 0 auto;
        }

        &__info {
          position: absolute;
          top: 120px;
          left: 0;
          width: 50%;
          z-index: 2;

          &__title {
            line-height: 1.1;
            font-size: 54px;
            font-weight: 600;
          }

          &__detail {
            margin-top: 27px;
            line-height: 1.5;
          }

          &__view-more {
            margin-top: 80px;
            padding-left: 45px;
            padding-right: 45px;
            transition: 0.2s;
          }
        }

        &__ad-wrap {
          position: relative;
          max-width: 1430px;
          margin: 0 auto;
        }

        &__ad {
          position: absolute;
          bottom: 0;
          right: 0;
          margin-right: 48px;
          z-index: 4;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url('../images/play.svg') no-repeat center/50px auto;
          }

          &__image {
            overflow: hidden;
            width: 250px;
            border-radius: 20px;

            img {
              display: block;
              width: 100%;
              height: auto;
            }
          }

          &__badge {
            position: absolute;
            top: 20px;
            right: -48px;
            width: 80px;
            height: 46px;
            background: url('../images/play.png') no-repeat center/100% auto;
            font-size: 0;
          }
        }

        &__nav {
          margin-top: 60px;
          text-align: center;
          font-size: 0;
        }

        &__pagination {
          display: inline-flex;
          border-bottom: 1px solid #e5e5e5;
          font-size: 0;

          .pagination {
            &__item {
              display: inline-block;
              position: relative;
              padding-bottom: 15px;
              min-width: 130px;
              text-align: center;
              color: #333;
              vertical-align: top;
              opacity: 0.7;
              cursor: pointer;

              &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 4px;
                background-color: #0199dc;
                opacity: 0;
              }

              &.active {
                opacity: 1;

                &::after {
                  opacity: 1;
                }
              }
            }

            &__year {
              line-height: 1.5;
              font-size: 28px;
              font-weight: 600;
            }

            &__name {
              line-height: 1.5;
              font-size: 14px;
            }
          }
        }

        &__autoplay {
          display: block;
          width: 52px;
          height: 52px;
          margin: 20px auto 0;
        }
      }
    }

    // BRAND
    &__brand {
      background-color: #f8f4ed;
      border-radius: 0 90px 0 90px;

      .brand {
        &__container {
          position: relative;
          max-width: 1430px;
          margin: 0 auto;
          padding: 0 30px;
        }

        &__slider {
          &__item {
            .brand {
              // NOTE 🎉질문: flex, align-center안쓰고 중앙 정렬하는 방법이 있는지? 패딩??
              display: flex;
              align-items: center;

              &__info {
                position: relative;
                flex: 1;
                padding-left: 80px;

                small {
                  position: absolute;
                  top: 0;
                  left: 0;
                  text-transform: uppercase;
                  font-weight: 600;
                  color: #004738;
                  writing-mode: vertical-lr;
                }
              }

              &__name {
                font-size: 54px;
                font-weight: 600;
                line-height: 1.5;
              }

              &__detail {
                margin-top: 27px;
                line-height: 1.5;
                font-weight: 400;
              }

              &__view-more {
                margin-top: 80px;
                padding-left: 45px;
                padding-right: 45px;
              }

              &__image {
                position: relative;
                flex: 1;

                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 26.56%;
                  margin-top: 18%;
                  padding-top: 27.611%;
                  background: url('../images/brand1.png') no-repeat center/100%
                    auto;
                  z-index: 1;
                }

                &::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 19.7%;
                  margin-top: 29.85%;
                  padding-top: 21.5%;
                  background: url('../images/brand2.png') no-repeat center/100%
                    auto;
                  z-index: 1;
                }

                img {
                  display: block;
                  width: 100%;
                  height: auto;
                }
              }

              &__product {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 50%;
                margin: 0 0 10% 10%;
                padding-left: 10%;

                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 10%;
                  height: 2px;
                  margin: 0.7rem 0 0 1rem;
                  background-color: #333;
                }

                &__name {
                  line-height: 1.4rem;
                  font-size: 20px;
                  font-weight: 600;
                }

                &__desc {
                  line-height: 1.5;
                  word-break: keep-all;
                }
              }
            }
          }

          .fb__slider {
            &__pagination {
              &-wrapper {
                bottom: 0;
              }

              .swiper-pagination {
                &-bullet {
                  background-color: #b2a090;

                  &::before {
                    border-top-color: #b2a090;
                  }
                }
              }
            }
          }
        }
      }
    }

    // BEST PRODUCT
    &__best-product {
      .best-product {
        &__container {
          max-width: 1430px;
          margin: 0 auto;
          padding: 0 15px;
        }

        &__slider {
          &__item {
            width: 33%;

            .product {
              max-width: 400px;
              margin: 0 auto;
              padding: 3rem 2rem;
              background-color: #f8f4ed;
              border-radius: 99em;

              &__thumbnail {
                position: relative;
                width: 60%;
                margin: 0 auto;

                img {
                  display: block;
                  width: 100%;
                  height: auto;
                  max-width: 100%;
                  object-fit: contain;
                }
              }

              &__badge {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 33.75%;
                margin-right: -15%;
                padding-top: 35.5%;
                background: no-repeat center/100% auto;
                background-image: url('../images/2021-08-06_20-28-06-24175-1628249286.png');

                &.product__badge--shield {
                  background-image: url('../images/2021-08-06_20-28-16-39733-1628249296.png');
                }

                &.product__badge--water {
                  background-image: url('../images/2021-08-06_20-28-26-95512-1628249306.png');
                }
              }

              &__info {
                text-align: center;
                line-height: 1.5;
              }

              &__name {
                margin-top: 1em;
                font-size: 1.5rem;
                // line-height가 font-size의 1.5배 이므로
                // 두줄이 될 경우 높이는 line-height의 2배 즉, font-size의 3배가 되어야한다.
                height: 3em;
                font-weight: bold;
                @include line(2);
              }

              &__detail {
                margin-top: 0.8em;
                height: 3em;
                @include line(2);
              }

              &__price {
                margin-top: 0.8em;
                font-size: 1rem;
              }

              &__origin-price {
                display: block;
                height: 1.5em;
                color: $sale-price-color;
                font-size: 1.15em;
              }

              &__sale-price {
                font-size: 0;

                em {
                  font-weight: bold;
                  font-size: 1.5rem;
                }

                span {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }

    // MIDDLE BANNER
    &__middle-banner {
      .middle-banner {
        &__slider {
          .fb__slider {
            &__pagination-wrapper {
              bottom: 10px;
            }
          }
        }

        &__link {
          display: block;
          width: 100%;
        }

        &__image {
          overflow: hidden;
          max-height: 200px;

          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
      }
    }

    // WONDER CLUB
    &__wonder-club {
      overflow: hidden;

      .wonder-club {
        &__container {
          display: flex;
          width: 100%;
          max-width: 1430px;
          margin: 0 auto;
        }

        &__megazine {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          width: 33.33%;
          flex-shrink: 0;
          z-index: 2;
          background-color: $body-color;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            background-color: inherit;
            z-index: -1;
          }

          .megazine {
            &__title {
              line-height: 1.5;
              font-size: 2.444rem;
              font-weight: 600;
            }

            &__desc {
              margin-top: 1.5em;
              line-height: 1.5;
              font-size: 1rem;
            }

            &__view-more {
              margin-top: 4.5rem;
              padding-left: 45px;
              padding-right: 45px;
              align-self: flex-start;
            }
          }
        }

        &__nav {
          position: absolute;
          bottom: 0;
          left: 0;

          .fb__slider {
            &__prev-btn,
            &__next-btn {
              position: static;
            }

            &__next-btn {
              transform: translateX(-10px);
            }

            &__prev-btn {
              transform: rotate(180deg);
            }
          }
        }

        &__slider {
          flex: 1;
          overflow: visible;

          &__item {
            width: 50%;
          }
        }

        &__banner {
          padding: 0 10px;

          &__image {
            overflow: hidden;
            position: relative;
            width: 100%;
            padding-bottom: 123%;
            border-radius: 3rem;

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              min-height: 100%;
              height: auto;
              transform: scale(1.1);
              transition: 0.5s;
              will-change: transform;
            }
          }

          &__title {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 10%;
            padding: 0 10%;
            line-height: 1.5;
            font-size: 1.556rem;
            font-weight: 600;
            color: $white;
          }

          &:hover {
            img {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    // DOCTORS PLACE
    &__doctors-place {
      overflow: hidden;

      .doctors-place {
        &__container {
          width: 100%;
          max-width: 1430px;
          margin: 0 auto;
        }

        &__header {
          display: flex;
          align-items: center;
          position: relative;
          margin-bottom: 3.222rem;
        }

        &__navigation {
          position: absolute;
          top: 0;
          right: 0;

          .fb__slider {
            &__prev-btn,
            &__next-btn {
              position: static;
            }

            &__next-btn {
              transform: translateX(-10px);
            }

            &__prev-btn {
              transform: rotate(180deg);
            }
          }
        }

        &__slider {
          overflow: visible;

          &__item {
            max-width: calc(380px + 3.2rem);
            width: 33.3333%;
            padding: 0 1.6rem;
            transform: translateY(10%);
            transition: 0.4s;
            will-change: transform;

            &:not(:last-child) {
              margin-right: 4.5rem;
            }

            .place {
              &__info {
                position: relative;
                padding: 18.5% 0 10%;
                background-color: #f8f4ed;
                border-radius: 50%;
                font-size: 1.22em;
                transition: 0.4s;
              }

              &__title {
                line-height: 1.5;
                text-align: center;
                font-size: 1em;
                font-weight: 600;
                word-break: keep-all;
              }

              &__doctor {
                display: block;
              }

              &__thumbnail {
                width: 70%;
                margin: 0 auto;

                img {
                  display: block;
                  width: 100%;
                  height: auto;
                }
              }

              &__region {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                right: -1.6rem;
                width: 5em;
                background-color: #ffc94d;
                border-radius: 50%;
                line-height: 1.25;
                font-size: 1.1em;
                color: $white;

                &::before {
                  content: '';
                  display: block;
                  padding-bottom: 100%;
                }
              }

              &__hidden-info {
                margin-top: 40px;
                text-align: center;
                transition: 0.4s;
                opacity: 0;
                will-change: opacity;

                &__title {
                  line-height: 1.5;
                  font-size: 1.778rem;
                  font-weight: 600;
                }

                &__desc {
                  margin-top: 1rem;
                  line-height: 1.5;
                }
              }
            }

            &.swiper-slide-active {
              transform: translateY(0);

              .place {
                &__info {
                  box-shadow: 0 1.6rem 40px 0 rgba(0, 0, 0, 0.1);
                }

                &__hidden-info {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    // EVENT
    &__event {
      .event {
        &__container {
          position: relative;
        }

        &__header {
          margin-bottom: 2.22rem;

          &__view-more {
            margin-left: auto;
            padding-left: 45px;
            padding-right: 45px;
          }
        }

        &__slider-container {
          position: relative;
        }

        &__slider {
          &__item {
            .banner {
              &__image {
                overflow: hidden;
                border-radius: 22.5px;

                img {
                  display: block;
                  width: 100%;
                  height: auto;
                }
              }
            }
          }

          &__nav {
            .fb__slider {
              &__pagination-wrapper {
                position: static;
                margin-top: 45px;
                transform: initial;
              }
            }
          }
        }
      }
    }

    // BOTTOM BANNER
    &__bottom-banner {
      padding: 0;

      .bottom-banner {
        padding: 60px 0;
        background: url('../images/test.jpg') no-repeat center/100% auto;

        &__content {
          max-width: 1230px;
          margin: 0 auto;
          color: $white;
        }

        &__title {
          line-height: 1.5;
          font-size: 40px;
          font-weight: 600;
        }

        &__desc {
          margin-top: 15px;
          line-height: 1.5;
        }

        &__btn {
          margin-top: 30px;
          padding-left: 45px;
          padding-right: 45px;

          &:hover {
            color: inherit;
            background-color: inherit;
          }
        }
      }
    }
  }

  // 푸터
  &__footer {
    .footer {
      &__inner {
        max-width: 1230px;
        margin: 0 auto;
        padding: 20px 15px 40px;
      }

      &__top {
        padding-bottom: 16px;

        @include clearfix;
      }

      &__event-banner {
        float: left;

        img {
          display: block;
        }
      }

      &__app-links {
        float: right;
        padding: 6.5px 0;
        font-size: 0;

        li {
          display: inline-block;

          &:not(:first-child) {
            margin-left: 25px;
          }
        }

        .app-link {
          display: block;
          padding: 12px 21px;
          background-color: #333;
          border-radius: 20px;
        }
      }

      &__mid {
        margin-bottom: 30px;
        padding: 40px 0 30px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        @include clearfix;
      }

      &__company {
        float: left;
        padding: 0 15px;

        .company {
          &__sitemap {
            margin-bottom: 30px;
            font-size: 0;

            &__item {
              display: inline-block;
              line-height: 1.5;
              font-size: 15px;
              font-weight: 600;

              &:not(:last-child) {
                margin-right: 10px;

                &::after {
                  content: '';
                  display: inline-block;
                  width: 1px;
                  height: 22.5px;
                  margin-left: 10px;
                  background-color: #ddd;
                  vertical-align: middle;
                }
              }
            }

            &__link {
              vertical-align: middle;
            }
          }

          &__info {
            margin-bottom: 30px;
            color: #666;

            &__detail {
              font-size: 0;

              span {
                line-height: 1.5;
                font-size: 14px;

                &:not(:last-child) {
                  margin-right: 4px;

                  &::after {
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 14px;
                    margin-left: 4px;
                    background-color: #666;
                    vertical-align: middle;
                  }
                }
              }
            }

            &__link {
              color: #333;
            }
          }

          &__service {
            color: #666;

            h4 {
              line-height: 1.5;
              font-weight: 600;
              font-size: 12.5px;
            }

            &__desc {
              line-height: 1.5;
              font-size: 12px;
            }
          }
        }
      }

      &__cs-center {
        float: right;
        padding-right: 50px;

        .cs-center {
          &__title {
            margin-bottom: 10px;
            line-height: 1.5;
            font-weight: 500;
            font-size: 17px;
          }

          &__tel {
            line-height: 1.5;
            font-weight: 600;
            font-size: 25px;
          }

          &__time {
            margin-bottom: 25px;

            li {
              line-height: 1.5;
              font-size: 14px;
              color: #666;
            }
          }

          &__sns-links {
            display: flex;

            li {
              &:not(:last-child) {
                margin-right: 8px;
              }
            }

            .sns-link {
              display: flex;
              width: 60px;
              background: url('../images/icon-kakao-ch.png') no-repeat
                center/50% auto;

              background-color: #f3f3f3;
              border-radius: 50%;

              &::after {
                content: '';
                padding-top: 100%;
              }

              &.sns-link--instagram {
              }

              &.sns-link--youtube {
              }

              &.sns-link--kakao {
              }
            }
          }
        }
      }

      &__bottom {
      }

      &__copyright {
        line-height: 1.5;
        font-size: 12.5px;
        color: #666;
        opacity: 0.7;
      }

      &__faily-sitemap {
      }
    }
  }
}
