@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-size: 1rem;
  font-family: 'Jost', 'Noto Sans KR', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  letter-spacing: -0.025em;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: no-repeat center/100%;
  cursor: pointer;
}

.icon__name {
  font-size: 0;
}

.icon--search {
  background-image: url("../images/icon-srch.svg");
}

.icon--cart {
  background-image: url("../images/icon-cart.svg");
}

.icon--mypage {
  background-image: url("../images/icon-user.svg");
}

.main-swiper .swiper-pagination {
  line-height: 0;
}

.main-swiper .swiper-pagination-bullet {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 10px !important;
  background-color: #fff;
  opacity: 0.5;
}

.main-swiper .swiper-pagination-bullet::before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  will-change: transform opacity;
}

.main-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

.main-swiper .swiper-pagination-bullet-active::before {
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-swiper .swiper-button-next, .main-swiper .swiper-button-prev {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.main-swiper .swiper-button-next::after, .main-swiper .swiper-button-prev::after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url("../images/swiper-btn.svg") no-repeat center/0.5rem;
  background-color: #fff;
  font-size: 0;
}

.main-swiper .swiper-button-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.swiper-btn::after {
  content: 'next';
  width: 100%;
  background: url("../images/swiper-btn.svg") no-repeat center/0.5rem;
  background-color: #fff;
  font-size: 0;
}

.swiper-btn-prev::after {
  content: 'prev';
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fb__title--hidden,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.fb__slider__pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.fb__slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  width: auto !important;
}

.fb__slider__pagination .swiper-pagination-bullet {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 10px !important;
  background-color: #fff;
  opacity: 0.7;
}

.fb__slider__pagination .swiper-pagination-bullet::before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border: 2px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fb__slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.fb__slider__pagination .swiper-pagination-bullet-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}

.fb__slider__prev-btn, .fb__slider__next-btn {
  position: absolute;
  top: 50%;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: url("../images/swiper-btn.svg") no-repeat center/0.5rem;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.fb__slider__prev-btn span, .fb__slider__next-btn span {
  font-size: 0;
}

.fb__slider__prev-btn {
  left: 10px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.fb__slider__next-btn {
  right: 10px;
}

.fb__slider__autoplay {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 14px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.fb__slider__autoplay::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 12px;
  border: solid;
  border-width: 6px 0 6px 10px;
  border-color: transparent transparent transparent #333;
}

.fb__slider__autoplay.active::before {
  border-width: 0 3px 0 3px;
  border-color: transparent #333 transparent #333;
}

.fb .btn {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #333;
  border-radius: 2em;
  background-color: transparent;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.fb .btn:hover {
  background-color: #333;
  color: #fff;
}

.fb .btn.btn-lg {
  height: 60px;
  border-radius: 2em;
  line-height: 60px;
  font-size: 16px;
}

#main-page .container {
  min-width: 1200px;
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#main-page .container:not(.is-scroll):not(.dark-mode) .header {
  background-color: transparent;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#main-page .container.is-header-filter:not(.is-scroll):not(.dark-mode) .header__logo {
  -webkit-filter: brightness(99);
          filter: brightness(99);
}

#main-page .container.is-header-filter:not(.is-scroll):not(.dark-mode) .header .gnb__menu img {
  -webkit-filter: brightness(99);
          filter: brightness(99);
}

#main-page .container.is-header-filter:not(.is-scroll):not(.dark-mode) .header .gnb__title {
  -webkit-filter: brightness(99);
          filter: brightness(99);
}

#main-page .container.is-header-filter:not(.is-scroll):not(.dark-mode) .header__menu-item .icon {
  -webkit-filter: brightness(99);
          filter: brightness(99);
}

#main-page .container.is-scroll {
  background-color: #fff;
}

#main-page .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1920px;
  height: 80px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

#main-page .header__logo {
  max-width: 171px;
  margin-right: 45px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  will-change: filter;
}

#main-page .header__logo a {
  display: block;
  line-height: 80px;
  font-size: 0;
}

#main-page .header__logo img {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

#main-page .header .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-page .header .gnb__item {
  position: relative;
}

#main-page .header .gnb__item:not(:last-child) {
  margin-right: 50px;
}

#main-page .header .gnb__item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #00a468;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  will-change: opacity;
}

#main-page .header .gnb__item.active::after, #main-page .header .gnb__item.is-store::after {
  opacity: 1;
}

#main-page .header .gnb__menu {
  display: block;
  position: relative;
  line-height: 80px;
}

#main-page .header .gnb__menu--store::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 23px;
  height: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../images/gnb-store-cart.png) no-repeat center/100%;
}

#main-page .header .gnb__menu--store .gnb__title {
  font-size: 0;
}

#main-page .header .gnb__menu--store img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  will-change: filter;
}

#main-page .header .gnb__title {
  vertical-align: middle;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  will-change: filter;
}

#main-page .header__btn-wrap {
  margin-left: auto;
}

#main-page .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-page .header__menu-item:not(:first-child) {
  margin-left: 20px;
}

#main-page .header__menu-item.cart {
  position: relative;
}

#main-page .header__menu-item.cart .cart-count {
  position: absolute;
  top: -4px;
  right: -4px;
  padding: 3px 4px;
  min-width: 20px;
  height: 20px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #00a468;
  border-radius: 10px;
}

#main-page .header__menu-item .icon {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  will-change: filter;
}

#main-page .main .main-sect {
  padding: 100px 0;
}

#main-page .main .main-sect__cont {
  max-width: 1430px;
  margin: 0 auto;
}

#main-page .main .main-visual {
  padding: 0;
}

#main-page .main .main-visual__swiper .swiper-pagination {
  bottom: 45px !important;
}

#main-page .main .main-visual__banner {
  height: 100vh;
  min-height: 720px;
}

#main-page .main .main-visual__banner img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fb {
  background-color: #f9f9f9;
}

.fb.is-scroll .fb__header {
  background-color: #fff;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.fb__container {
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.fb__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 10;
  background-color: transparent;
}

.fb__header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  height: 80px;
}

.fb__header .header__logo {
  margin-right: 45px;
}

.fb__header .header__logo .logo {
  line-height: 80px;
}

.fb__header .header__logo .logo img {
  width: 171px;
  vertical-align: middle;
}

.fb__header .header__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fb__header .header__menu .menu__item:not(:last-child) {
  margin-right: 50px;
}

.fb__header .header__menu .menu__item.menu__item--store .menu__link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 23px;
  height: 25px;
  background: url("../images/gnb-store-cart.png") no-repeat center/100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fb__header .header__menu .menu__item.menu__item--store .menu__link::after {
  opacity: 1;
}

.fb__header .header__menu .menu__item.menu__item--store .menu__image {
  vertical-align: middle;
}

.fb__header .header__menu .menu__item.menu__item--store .menu__title {
  font-size: 0;
}

.fb__header .header__menu .menu__link {
  display: block;
  position: relative;
  line-height: 80px;
}

.fb__header .header__menu .menu__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #00a468;
  border-radius: 2px;
  opacity: 0;
}

.fb__header .header__menu .menu__link:hover .menu__title {
  color: #00a468;
}

.fb__header .header__menu .menu__link.active::after {
  opacity: 1;
}

.fb__header .header__menu .menu__title {
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  will-change: color;
}

.fb__header .header__quick-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.fb__header .header__quick-menu .quick-menu__icon {
  width: 32px;
  height: 32px;
  background: no-repeat center/100%;
}

.fb__header .header__quick-menu .quick-menu__icon span {
  font-size: 0;
}

.fb__header .header__quick-menu .quick-menu__icon:not(:first-child) {
  margin-left: 16px;
}

.fb__header .header__quick-menu .quick-menu__icon.quick-menu__icon--search {
  background-image: url("../images/icon-srch.svg");
}

.fb__header .header__quick-menu .quick-menu__icon.quick-menu__icon--cart {
  position: relative;
  background-image: url("../images/icon-cart.svg");
}

.fb__header .header__quick-menu .quick-menu__icon.quick-menu__icon--mypage {
  background-image: url("../images/icon-user.svg");
}

.fb__header .header__quick-menu .quick-menu__cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  min-width: 20px;
  height: 20px;
  padding: 0 5px;
  border-radius: 10px;
  background-color: #00a468;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

.fb__main__section {
  padding: 100px 0;
}

.fb__main__section .section__title-wrap {
  margin-bottom: 60px;
  text-align: center;
}

.fb__main__section .section__title {
  line-height: 1.5;
  font-size: 54px;
  font-weight: 600;
}

.fb__main__section .section__sub-title {
  line-height: 1.5;
  margin-top: 27px;
}

.fb__main__visual {
  padding: 0;
}

.fb__main__visual .visual__slider__item .banner__image {
  overflow: hidden;
  height: 100vh;
  min-height: 720px;
}

.fb__main__visual .visual__slider__item .banner__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fb__main__history .history__slider__wrapper .swiper-slide-active .history__slider__event {
  opacity: 1;
}

.fb__main__history .history__slider__event {
  position: relative;
  max-width: 1430px;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  will-change: opacity;
}

.fb__main__history .history__slider__event .event__image {
  text-align: center;
}

.fb__main__history .history__slider__event .event__image img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.fb__main__history .history__slider__event .event__info {
  position: absolute;
  top: 120px;
  right: 0;
  padding-right: 48px;
  text-align: right;
}

.fb__main__history .history__slider__event .event__year {
  line-height: 1.5;
  color: #dad4c6;
  font-size: 98px;
  font-weight: 600;
}

.fb__main__history .history__slider__event .event__detail {
  font-weight: 500;
  font-size: 19.8px;
}

.fb__main__history .history__info-wrap {
  position: relative;
  max-width: 1430px;
  margin: 0 auto;
}

.fb__main__history .history__info {
  position: absolute;
  top: 120px;
  left: 0;
  width: 50%;
  z-index: 2;
}

.fb__main__history .history__info__title {
  line-height: 1.1;
  font-size: 54px;
  font-weight: 600;
}

.fb__main__history .history__info__detail {
  margin-top: 27px;
  line-height: 1.5;
}

.fb__main__history .history__info__view-more {
  margin-top: 80px;
  padding: 0 45px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fb__main__history .history__ad-wrap {
  position: relative;
  max-width: 1430px;
  margin: 0 auto;
}

.fb__main__history .history__ad {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 48px;
  z-index: 4;
}

.fb__main__history .history__ad::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../images/play.svg") no-repeat center/50px auto;
}

.fb__main__history .history__ad__image {
  overflow: hidden;
  width: 250px;
  border-radius: 20px;
}

.fb__main__history .history__ad__image img {
  display: block;
  width: 100%;
  height: auto;
}

.fb__main__history .history__ad__badge {
  position: absolute;
  top: 20px;
  right: -48px;
  width: 80px;
  height: 46px;
  background: url("../images/play.png") no-repeat center/100% auto;
  font-size: 0;
}

.fb__main__history .history__nav {
  margin-top: 60px;
  text-align: center;
  font-size: 0;
}

.fb__main__history .history__pagination {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0;
}

.fb__main__history .history__pagination .pagination__item {
  display: inline-block;
  position: relative;
  padding-bottom: 15px;
  min-width: 130px;
  text-align: center;
  color: #333;
  vertical-align: top;
  opacity: 0.7;
  cursor: pointer;
}

.fb__main__history .history__pagination .pagination__item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #0199dc;
  opacity: 0;
}

.fb__main__history .history__pagination .pagination__item.active {
  opacity: 1;
}

.fb__main__history .history__pagination .pagination__item.active::after {
  opacity: 1;
}

.fb__main__history .history__pagination .pagination__year {
  line-height: 1.5;
  font-size: 28px;
  font-weight: 600;
}

.fb__main__history .history__pagination .pagination__name {
  line-height: 1.5;
  font-size: 14px;
}

.fb__main__history .history__autoplay {
  display: block;
  width: 52px;
  height: 52px;
  margin: 20px auto 0;
}

.fb__main__brand {
  background-color: #f8f4ed;
  border-radius: 0 90px 0 90px;
}

.fb__main__brand .brand__container {
  position: relative;
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 30px;
}

.fb__main__brand .brand__slider__item .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fb__main__brand .brand__slider__item .brand__info {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 80px;
}

.fb__main__brand .brand__slider__item .brand__info small {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #004738;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.fb__main__brand .brand__slider__item .brand__name {
  font-size: 54px;
  font-weight: 600;
  line-height: 1.5;
}

.fb__main__brand .brand__slider__item .brand__detail {
  margin-top: 27px;
  line-height: 1.5;
  font-weight: 400;
}

.fb__main__brand .brand__slider__item .brand__view-more {
  margin-top: 80px;
  padding: 0 45px;
}

.fb__main__brand .brand__slider__item .brand__image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fb__main__brand .brand__slider__item .brand__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 26.56%;
  margin-top: 18%;
  padding-top: 27.611%;
  background: url("../images/brand1.png") no-repeat center/100% auto;
  z-index: 1;
}

.fb__main__brand .brand__slider__item .brand__image::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 19.7%;
  margin-top: 29.85%;
  padding-top: 21.5%;
  background: url("../images/brand2.png") no-repeat center/100% auto;
  z-index: 1;
}

.fb__main__brand .brand__slider__item .brand__image img {
  display: block;
  width: 100%;
  height: auto;
}

.fb__main__brand .brand__slider__item .brand__product {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  margin: 0 0 10% 10%;
  padding-left: 10%;
}

.fb__main__brand .brand__slider__item .brand__product::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 2px;
  margin: 0.7rem 0 0 1rem;
  background-color: #333;
}

.fb__main__brand .brand__slider__item .brand__product__name {
  line-height: 1.4rem;
  font-size: 20px;
  font-weight: 600;
}

.fb__main__brand .brand__slider__item .brand__product__desc {
  line-height: 1.5;
  word-break: keep-all;
}

.fb__main__brand .brand__slider .fb__slider__pagination-wrapper {
  bottom: 0;
}

.fb__main__brand .brand__slider .fb__slider__pagination .swiper-pagination-bullet {
  background-color: #b2a090;
}

.fb__main__brand .brand__slider .fb__slider__pagination .swiper-pagination-bullet::before {
  border-top-color: #b2a090;
}

.fb__main__best-product .best-product__container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.fb__main__best-product .best-product__slider__item {
  width: 33%;
}

.fb__main__best-product .best-product__slider__item .product {
  max-width: 400px;
  margin: 0 auto;
  padding: 3rem 2rem;
  background-color: #f8f4ed;
  border-radius: 99em;
}

.fb__main__best-product .best-product__slider__item .product__thumbnail {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.fb__main__best-product .best-product__slider__item .product__thumbnail img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.fb__main__best-product .best-product__slider__item .product__badge {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 33.75%;
  margin-right: -15%;
  padding-top: 35.5%;
  background: no-repeat center/100% auto;
  background-image: url("../images/2021-08-06_20-28-06-24175-1628249286.png");
}

.fb__main__best-product .best-product__slider__item .product__badge.product__badge--shield {
  background-image: url("../images/2021-08-06_20-28-16-39733-1628249296.png");
}

.fb__main__best-product .best-product__slider__item .product__badge.product__badge--water {
  background-image: url("../images/2021-08-06_20-28-26-95512-1628249306.png");
}

.fb__main__best-product .best-product__slider__item .product__info {
  text-align: center;
  line-height: 1.5;
}

.fb__main__best-product .best-product__slider__item .product__name {
  margin-top: 1em;
  font-size: 1.5rem;
  height: 3em;
  font-weight: bold;
  /* 사용법 : @include line(라인수) */
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
}

.fb__main__best-product .best-product__slider__item .product__detail {
  margin-top: 0.8em;
  height: 3em;
  /* 사용법 : @include line(라인수) */
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
}

.fb__main__best-product .best-product__slider__item .product__price {
  margin-top: 0.8em;
  font-size: 1rem;
}

.fb__main__best-product .best-product__slider__item .product__origin-price {
  display: block;
  height: 1.5em;
  color: #999;
  font-size: 1.15em;
}

.fb__main__best-product .best-product__slider__item .product__sale-price {
  font-size: 0;
}

.fb__main__best-product .best-product__slider__item .product__sale-price em {
  font-weight: bold;
  font-size: 1.5rem;
}

.fb__main__best-product .best-product__slider__item .product__sale-price span {
  font-size: 1rem;
}

.fb__main__middle-banner .middle-banner__slider .fb__slider__pagination-wrapper {
  bottom: 10px;
}

.fb__main__middle-banner .middle-banner__link {
  display: block;
  width: 100%;
}

.fb__main__middle-banner .middle-banner__image {
  overflow: hidden;
  max-height: 200px;
}

.fb__main__middle-banner .middle-banner__image img {
  display: block;
  width: 100%;
  height: auto;
}

#store .banner-swiper .swiper-button-next, #store .banner-swiper .swiper-button-prev {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

#store .banner-swiper .swiper-button-next::after, #store .banner-swiper .swiper-button-prev::after {
  content: '';
  background: url("../images/swiper-btn.svg") no-repeat 50% 50%;
  background-size: 0.444em;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

#store .banner-swiper .swiper-button-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#store .banner-swiper .swiper-pagination-bullet {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 10px !important;
  background-color: #fff;
  opacity: 0.5;
}

#store .banner-swiper .swiper-pagination-bullet:after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  background-color: transparent;
  border: 2px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

#store .banner-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

#store .banner-swiper .swiper-pagination-bullet-active::after {
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#store .banner-swiper .swiper-pagination--black .swiper-pagination-bullet {
  background-color: #333;
}

#store .banner-swiper .swiper-pagination--black .swiper-pagination-bullet::after {
  border-top-color: #333;
}

#store .product-list::after {
  content: '';
  display: block;
  clear: both;
}

#store .product-list li {
  float: left;
  width: 25%;
  padding: 0 1.11111rem 4.44444rem;
}

#store .product__thumbnail {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 2rem;
}

#store .product__thumbnail img {
  width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#store .product__thumbnail::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.03);
}

#store .product__name {
  margin: 1.25em 0 0.5em;
  font-size: 1.25rem;
  font-weight: 600;
}

#store .product__desc {
  margin: 0 1em 0.5em 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: #999;
}

#store .product__name, #store .product__desc {
  line-height: 1.5;
  height: 3em;
  /* 사용법 : @include line(라인수) */
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
}

#store .product__price {
  font-weight: 600;
  line-height: 1.5;
}

#store .product__origin-price {
  font-size: 0.875rem;
  color: #999;
}

#store .product__sale-price {
  font-size: 1.25rem;
}

#store .product__review-cont {
  margin: 10px 0;
  font-size: 0;
}

#store .product__review-cont .star-rate {
  display: inline-block;
  margin-right: 5px;
}

#store .product__review {
  display: inline-block;
  font-size: 0.88889rem;
  line-height: 1.5;
}

#store .product__review strong {
  font-weight: bold;
}

#store .product.product--wide .product__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#store .product.product--wide .product__thumbnail, #store .product.product--wide .product__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

#store .product.product--wide .product__thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#store .product.product--wide .product__thumbnail img {
  width: auto;
  height: auto;
  max-width: 100%;
}

#store .product.product--wide .product__thumbnail::after {
  top: 15%;
  left: 15%;
  right: auto;
  bottom: auto;
  width: 70%;
  height: 70%;
  border-radius: 35%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f8f4ed;
  z-index: -1;
}

#store .product.product--wide .product__info {
  padding: 0 10px;
}

#store .product.product--wide .product__name {
  font-size: 2rem;
}

#store .product.product--wide .product__origin-price {
  font-size: 1rem;
}

#store .product.product--wide .product__sale-price {
  font-size: 1.38889rem;
}

#store .star-rate {
  overflow: hidden;
  width: 100%;
  height: 1rem;
  background: url("../images/star.png");
  background-repeat: repeat-x;
  background-size: auto 1rem;
  width: 6.25rem;
}

#store .star-rate__on {
  width: 100%;
  height: 100%;
  background: url("../images/star_on.png");
  background-repeat: repeat-x;
  background-size: auto 1rem;
}

#store .container {
  width: 100%;
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
}

#store .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1200px;
  padding: 0 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

#store .header__logo {
  margin-right: 60px;
}

#store .header__gnb .gnb::after {
  content: '';
  display: block;
  clear: both;
}

#store .header__gnb .gnb__item {
  float: left;
}

#store .header__gnb .gnb__item:not(:last-child) {
  margin-right: 50px;
}

#store .header__gnb .gnb__link {
  position: relative;
  display: block;
  height: 80px;
  line-height: 80px;
  font-size: 0;
}

#store .header__gnb .gnb__link--store .gnb__title {
  font-size: 0;
}

#store .header__gnb .gnb__link--store::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 23px;
  height: 25px;
  background: url("../images/gnb-store-cart.png") no-repeat center/100%;
}

#store .header__gnb .gnb__link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #00a468;
}

#store .header__gnb .gnb__link:hover .gnb__title {
  color: #00a468;
}

#store .header__gnb .gnb__title {
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

#store .header__gnb .gnb__image {
  display: inline-block;
}

#store .header__gnb .gnb__image, #store .header__gnb .gnb__title {
  vertical-align: middle;
}

#store .header__menu {
  margin-left: auto;
}

#store .header__menu::after {
  content: '';
  display: block;
  clear: both;
}

#store .header__menu-item {
  float: left;
}

#store .header__menu-item:not(:first-child) {
  margin-left: 16px;
}

#store .header__menu-btn {
  width: 32px;
  height: 32px;
  font-size: 0;
  background: no-repeat center/100%;
}

#store .header__menu-btn--search {
  background-image: url(../images/icon-srch.svg);
}

#store .header__menu-btn--cart {
  position: relative;
  background-image: url(../images/icon-cart.svg);
}

#store .header__menu-btn--cart::after {
  content: '0';
  position: absolute;
  top: -2px;
  right: -4px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #00a468;
  color: #fff;
  font-size: 13.5px;
  text-align: center;
  line-height: 20px;
}

#store .header__menu-btn--mypage {
  background-image: url(../images/icon-user.svg);
}

#store .main {
  padding-top: 80px;
}

#store .main__container {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#store .main__section {
  padding: 100px 0;
}

#store .main__section__cont {
  width: 100%;
  max-width: 1430px;
  min-width: 1200px;
  margin: 0 auto;
}

#store .main .section__title-wrap {
  text-align: center;
  margin-bottom: 60px;
}

#store .main .section__title {
  font-size: 54px;
  font-weight: 600;
}

#store .main .section__sub-title {
  font-size: 1rem;
  margin-top: 1.5em;
}

#store .main .main-banner {
  padding: 0;
}

#store .main .main-banner .banner img {
  display: block;
  width: 100%;
  height: auto;
}

#store .main .store-product .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

#store .main .store-product .category li {
  width: 6.94444rem;
  padding: 0 0.55556rem;
}

#store .main .store-product .category__item {
  cursor: pointer;
}

#store .main .store-product .category__item--all .category__icon {
  background-image: url("../images/icon-cate-all.png");
}

#store .main .store-product .category__item--health .category__icon {
  background-image: url("../images/icon-cate-healthfood.svg");
}

#store .main .store-product .category__item--cosmetics .category__icon {
  background-image: url("../images/icon-cate-cosmetic.svg	");
}

#store .main .store-product .category__item--device .category__icon {
  background-image: url("../images/icon-cate-device.svg");
}

#store .main .store-product .category__item:hover .category__title {
  color: #00a468;
}

#store .main .store-product .category__item:hover .category__image::after {
  -webkit-transform: scale(1) rotate(-45deg);
          transform: scale(1) rotate(-45deg);
}

#store .main .store-product .category__item:hover .category__icon {
  -webkit-filter: brightness(9);
          filter: brightness(9);
}

#store .main .store-product .category__input {
  display: none;
}

#store .main .store-product .category__input:checked + .category__inner .category__title {
  color: #00a468;
}

#store .main .store-product .category__input:checked + .category__inner .category__image::after {
  -webkit-transform: scale(1) rotate(-45deg);
          transform: scale(1) rotate(-45deg);
}

#store .main .store-product .category__input:checked + .category__inner .category__icon {
  -webkit-filter: brightness(9);
          filter: brightness(9);
}

#store .main .store-product .category__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#store .main .store-product .category__image {
  display: block;
  position: relative;
  width: 52px;
  height: 52px;
  margin: 0 auto;
}

#store .main .store-product .category__image::after {
  content: '';
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  height: 130%;
  background-color: #00a468;
  -webkit-transform: scale(0) rotate(0);
          transform: scale(0) rotate(0);
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
}

#store .main .store-product .category__icon {
  display: block;
  width: 100%;
  height: 100%;
  background: no-repeat center/100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#store .main .store-product .category__title {
  display: block;
  margin-top: 10px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 600;
  color: #666;
  word-break: keep-all;
  text-align: center;
}

#store .main .wonder-price__swiper .product__thumbnail::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  will-change: transform;
}

#store .main .wonder-price__swiper .product__thumbnail img {
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  will-change: transform;
}

#store .main .wonder-price__swiper .swiper-slide-active .product__thumbnail::after {
  -webkit-transform: scale(1) rotate(45deg);
          transform: scale(1) rotate(45deg);
}

#store .main .wonder-price__swiper .swiper-slide-active .product__thumbnail img {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

#store .main .best-review {
  overflow: hidden;
  background-color: #f8f4ed;
  border-top-right-radius: 4.44444rem;
  border-bottom-left-radius: 4.44444rem;
}

#store .main .event-banner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px;
}

#store .main .event-banner__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 30px;
}

#store .main .event-banner__list .event img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=Index.css.map */