@import './variables.scss';

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	font-family: 'Jost', 'Nanum Gothic', sans-serif;
	background-color: $body-color;
}

// Common
.banner-swiper {
	.swiper-button {
		&-next,
		&-prev {
			width: 54px;
			height: 54px;
			border-radius: 50%;
			// NOTE background 복습!!
			background: url('../images/swiper-btn.svg') no-repeat 50% 50%;
			background-size: 0.444em;
			background-color: #fff;

			&::after {
				font-size: 0;
			}
		}

		&-prev {
			transform: rotate(180deg);
		}
	}

	.swiper-pagination {
		&-bullet {
			position: relative;
			width: 10px;
			height: 10px;
			margin: 0 10px !important;
			background-color: #fff;
			opacity: 0.5;

			&:after {
				content: '';
				position: absolute;
				// NOTE 복습!!
				top: -8px;
				left: -8px;
				bottom: -8px;
				right: -8px;
				background-color: transparent;
				border: 2px solid transparent;
				border-top-color: #fff;
				border-radius: 50%;
				opacity: 0;
				transition: all 0.15s ease;
			}

			&-active {
				opacity: 1;

				&::after {
					opacity: 1;
					transform: rotate(45deg);
				}
			}
		}
	}
}

.container {
	overflow: hidden;
	width: 100%;
	max-width: 1920px;
	min-width: 1200px;
	margin: 0 auto;
	// box-shadow: 0 0 40px rgba(black, 10%);
}

// 헤더
.header {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
	max-width: 1920px;
	min-width: 1200px;
	padding: 0 30px;
	background-color: #fff;

	&__logo {
		margin-right: 60px;
	}

	&__gnb {
		.gnb {
			&::after {
				content: '';
				display: block;
				clear: both;
			}

			&__item {
				float: left;

				&:not(:last-child) {
					margin-right: 50px;
				}
			}

			&__link {
				position: relative;
				display: block;
				height: 80px;
				line-height: 80px;
				font-size: 0;

				&--store {
					.gnb__title {
						font-size: 0;
					}

					&::before {
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						width: 23px;
						height: 25px;
						background: url('../images/gnb-store-cart.png') no-repeat center/100%;
					}
				}

				&.active {
					&::after {
						content: '';
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						height: 4px;
						background-color: $main-color;
					}
				}

				&:hover {
					.gnb__title {
						color: $main-color;
					}
				}
			}

			&__title {
				font-size: 18px;
				font-weight: 600;
				transition: color 0.3s linear;
			}

			&__image {
				display: inline-block;
			}

			&__image,
			&__title {
				vertical-align: middle;
			}
		}
	}

	&__menu {
		margin-left: auto;

		&::after {
			content: '';
			display: block;
			clear: both;
		}
	}

	&__menu-item {
		float: left;

		&:not(:first-child) {
			margin-left: 16px;
		}
	}

	&__menu-btn {
		width: 32px;
		height: 32px;
		font-size: 0;
		background: no-repeat center/100%;

		&--search {
			background-image: url(../images/icon-srch.svg);
		}

		&--cart {
			position: relative;
			background-image: url(../images/icon-cart.svg);

			&::after {
				content: '0';
				position: absolute;
				top: -2px;
				right: -4px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: $main-color;
				color: #fff;
				font-size: 13.5px;
				text-align: center;
				line-height: 20px;
			}
		}

		&--mypage {
			background-image: url(../images/icon-user.svg);
		}
	}
}

.main {
	padding-top: 80px;

	&__section {
		padding-top: 100px;
	}

	&__section-title {
		margin-bottom: 60px;
		font-size: 54px;
		font-weight: 600;
		text-align: center;
		color: #333;
	}

	// 메인 배너
	.main-banner {
		padding-top: 0;

		&__swiper {

		}

		.banner {
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}

	// 메인 상품
	.main-product {
		.category {
			display: flex;
			justify-content: center;

			li {
				width: 125px;
				padding: 0 10px;
			}

			&__item {
				cursor: pointer;

				&--all {
					.category {
						&__icon {
							background-image: url('../images/icon-cate-all.png');
						}
					}
				}

				&--health {
					.category {
						&__icon {
							background-image: url('../images/icon-cate-healthfood.svg');
						}
					}
				}

				&--cosmetics {
					.category {
						&__icon {
							background-image: url('../images/icon-cate-cosmetic.svg	');
						}
					}
				}

				&--device {
					.category {
						&__icon {
							background-image: url('../images/icon-cate-device.svg');
						}
					}
				}

				&:hover {
					.category {
						&__title {
							color: $main-color;
						}

						&__image {
							&::after {
								transform: scale(1) rotate(-45deg);
							}
						}

						&__icon {
							filter: brightness(9);
						}
					}
				}
			}

			&__input {
				display: none;

				&:checked + .category__inner {
					.category {
						&__title {
							color: $main-color;
						}

						&__image {
							&::after {
								transform: scale(1) rotate(-45deg);
							}
						}

						&__icon {
							// NOTE filter 필기 !!
							filter: brightness(9);
						}
					}
				}
			}

			&__inner {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}

			&__image {
				display: block;
				position: relative;
				width: 52px;
				height: 52px;
				margin: 0 auto;
				
				&::after {
					content: '';
					position: absolute;
					top: -15%;
					left: 0;
					width: 100%;
					height: 130%;
					background-color: $main-color;
					transform: scale(0) rotate(0);
					border-radius: 20px;
					transition: 0.2s;
					z-index: -1;
				}
			}
			
			&__icon {
				display: block;
				width: 100%;
				height: 100%;
				background: no-repeat center/100%;
				transition: 0.2s;
			}

			&__title {
				display: block;
				margin-top: 10px;
				line-height: 1.5;
				font-size: 18px;
				font-weight: 600;
				color: #666;
				word-break: keep-all;
				text-align: center;
			}
		}
	}
}