@charset "UTF-8";
#store .banner-swiper .swiper-button-next, #store .banner-swiper .swiper-button-prev {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

#store .banner-swiper .swiper-button-next::after, #store .banner-swiper .swiper-button-prev::after {
  content: '';
  background: url("../images/swiper-btn.svg") no-repeat 50% 50%;
  background-size: 0.444em;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

#store .banner-swiper .swiper-button-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#store .banner-swiper .swiper-pagination-bullet {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 10px !important;
  background-color: #fff;
  opacity: 0.5;
}

#store .banner-swiper .swiper-pagination-bullet:after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  background-color: transparent;
  border: 2px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

#store .banner-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

#store .banner-swiper .swiper-pagination-bullet-active::after {
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#store .banner-swiper .swiper-pagination--black .swiper-pagination-bullet {
  background-color: #333;
}

#store .banner-swiper .swiper-pagination--black .swiper-pagination-bullet::after {
  border-top-color: #333;
}

#store .product-list::after {
  content: '';
  display: block;
  clear: both;
}

#store .product-list li {
  float: left;
  width: 25%;
  padding: 0 toRem(20px) toRem(80px);
}

#store .product__thumbnail {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: toRem(36px);
}

#store .product__thumbnail img {
  width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#store .product__thumbnail::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.03);
}

#store .product__name {
  margin: 1.25em 0 0.5em;
  font-size: toRem(22.5px);
  font-weight: 600;
}

#store .product__desc {
  margin: 0 1em 0.5em 0;
  font-size: toRem(15.75px);
  font-weight: 500;
  color: #999;
}

#store .product__name, #store .product__desc {
  line-height: 1.5;
  height: 3em;
  /* 사용법 : @include line(라인수) */
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
}

#store .product__price {
  font-weight: 600;
  line-height: 1.5;
}

#store .product__origin-price {
  font-size: toRem(15.75px);
  color: #999;
}

#store .product__sale-price {
  font-size: toRem(22.5px);
}

#store .product__review-cont {
  margin: 10px 0;
  font-size: 0;
}

#store .product__review-cont .star-rate {
  display: inline-block;
  margin-right: 5px;
}

#store .product__review {
  display: inline-block;
  font-size: toRem(16px);
  line-height: 1.5;
}

#store .product__review strong {
  font-weight: bold;
}

#store .product.product--wide .product__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#store .product.product--wide .product__thumbnail, #store .product.product--wide .product__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

#store .product.product--wide .product__thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#store .product.product--wide .product__thumbnail img {
  width: auto;
  height: auto;
  max-width: 100%;
}

#store .product.product--wide .product__thumbnail::after {
  top: 15%;
  left: 15%;
  right: auto;
  bottom: auto;
  width: 70%;
  height: 70%;
  border-radius: 35%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f8f4ed;
  z-index: -1;
}

#store .product.product--wide .product__info {
  padding: 0 10px;
}

#store .product.product--wide .product__name {
  font-size: 2rem;
}

#store .product.product--wide .product__origin-price {
  font-size: 1rem;
}

#store .product.product--wide .product__sale-price {
  font-size: toRem(25px);
}

#store .star-rate {
  overflow: hidden;
  width: 100%;
  height: 1rem;
  background: url("../images/star.png");
  background-repeat: repeat-x;
  background-size: auto 1rem;
  width: 6.25rem;
}

#store .star-rate__on {
  width: 100%;
  height: 100%;
  background: url("../images/star_on.png");
  background-repeat: repeat-x;
  background-size: auto 1rem;
}

#store .container {
  width: 100%;
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
}

#store .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1200px;
  padding: 0 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

#store .header__logo {
  margin-right: 60px;
}

#store .header__gnb .gnb::after {
  content: '';
  display: block;
  clear: both;
}

#store .header__gnb .gnb__item {
  float: left;
}

#store .header__gnb .gnb__item:not(:last-child) {
  margin-right: 50px;
}

#store .header__gnb .gnb__link {
  position: relative;
  display: block;
  height: 80px;
  line-height: 80px;
  font-size: 0;
}

#store .header__gnb .gnb__link--store .gnb__title {
  font-size: 0;
}

#store .header__gnb .gnb__link--store::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 23px;
  height: 25px;
  background: url("../images/gnb-store-cart.png") no-repeat center/100%;
}

#store .header__gnb .gnb__link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #00a468;
}

#store .header__gnb .gnb__link:hover .gnb__title {
  color: #00a468;
}

#store .header__gnb .gnb__title {
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

#store .header__gnb .gnb__image {
  display: inline-block;
}

#store .header__gnb .gnb__image, #store .header__gnb .gnb__title {
  vertical-align: middle;
}

#store .header__menu {
  margin-left: auto;
}

#store .header__menu::after {
  content: '';
  display: block;
  clear: both;
}

#store .header__menu-item {
  float: left;
}

#store .header__menu-item:not(:first-child) {
  margin-left: 16px;
}

#store .header__menu-btn {
  width: 32px;
  height: 32px;
  font-size: 0;
  background: no-repeat center/100%;
}

#store .header__menu-btn--search {
  background-image: url(../images/icon-srch.svg);
}

#store .header__menu-btn--cart {
  position: relative;
  background-image: url(../images/icon-cart.svg);
}

#store .header__menu-btn--cart::after {
  content: '0';
  position: absolute;
  top: -2px;
  right: -4px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #00a468;
  color: #fff;
  font-size: 13.5px;
  text-align: center;
  line-height: 20px;
}

#store .header__menu-btn--mypage {
  background-image: url(../images/icon-user.svg);
}

#store .main {
  padding-top: 80px;
}

#store .main__container {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#store .main__section {
  padding: 100px 0;
}

#store .main__section__cont {
  width: 100%;
  max-width: 1430px;
  min-width: 1200px;
  margin: 0 auto;
}

#store .main .section__title-wrap {
  text-align: center;
  margin-bottom: 60px;
}

#store .main .section__title {
  font-size: 54px;
  font-weight: 600;
}

#store .main .section__sub-title {
  font-size: 1rem;
  margin-top: 1.5em;
}

#store .main .main-banner {
  padding: 0;
}

#store .main .main-banner .banner img {
  display: block;
  width: 100%;
  height: auto;
}

#store .main .store-product .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

#store .main .store-product .category li {
  width: toRem(125px);
  padding: 0 toRem(10px);
}

#store .main .store-product .category__item {
  cursor: pointer;
}

#store .main .store-product .category__item--all .category__icon {
  background-image: url("../images/icon-cate-all.png");
}

#store .main .store-product .category__item--health .category__icon {
  background-image: url("../images/icon-cate-healthfood.svg");
}

#store .main .store-product .category__item--cosmetics .category__icon {
  background-image: url("../images/icon-cate-cosmetic.svg	");
}

#store .main .store-product .category__item--device .category__icon {
  background-image: url("../images/icon-cate-device.svg");
}

#store .main .store-product .category__item:hover .category__title {
  color: #00a468;
}

#store .main .store-product .category__item:hover .category__image::after {
  -webkit-transform: scale(1) rotate(-45deg);
          transform: scale(1) rotate(-45deg);
}

#store .main .store-product .category__item:hover .category__icon {
  -webkit-filter: brightness(9);
          filter: brightness(9);
}

#store .main .store-product .category__input {
  display: none;
}

#store .main .store-product .category__input:checked + .category__inner .category__title {
  color: #00a468;
}

#store .main .store-product .category__input:checked + .category__inner .category__image::after {
  -webkit-transform: scale(1) rotate(-45deg);
          transform: scale(1) rotate(-45deg);
}

#store .main .store-product .category__input:checked + .category__inner .category__icon {
  -webkit-filter: brightness(9);
          filter: brightness(9);
}

#store .main .store-product .category__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#store .main .store-product .category__image {
  display: block;
  position: relative;
  width: 52px;
  height: 52px;
  margin: 0 auto;
}

#store .main .store-product .category__image::after {
  content: '';
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  height: 130%;
  background-color: #00a468;
  -webkit-transform: scale(0) rotate(0);
          transform: scale(0) rotate(0);
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
}

#store .main .store-product .category__icon {
  display: block;
  width: 100%;
  height: 100%;
  background: no-repeat center/100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#store .main .store-product .category__title {
  display: block;
  margin-top: 10px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 600;
  color: #666;
  word-break: keep-all;
  text-align: center;
}

#store .main .wonder-price__swiper .product__thumbnail::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  will-change: transform;
}

#store .main .wonder-price__swiper .product__thumbnail img {
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  will-change: transform;
}

#store .main .wonder-price__swiper .swiper-slide-active .product__thumbnail::after {
  -webkit-transform: scale(1) rotate(45deg);
          transform: scale(1) rotate(45deg);
}

#store .main .wonder-price__swiper .swiper-slide-active .product__thumbnail img {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

#store .main .best-review {
  overflow: hidden;
  background-color: #f8f4ed;
  border-top-right-radius: toRem(80px);
  border-bottom-left-radius: toRem(80px);
}

#store .main .event-banner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px;
}

#store .main .event-banner__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 30px;
}

#store .main .event-banner__list .event img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=store.css.map */